.main-data-section {
    background-color: greenyellow;
}
.dansk-data-section{
background-color: skyblue;
}
.english-data-section{
    background-color: salmon;
}
.norwegian-data-section{
    background-color: azure;
}